@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');
/* */
:root {
    --text-color: #323232;
    --background-color: #FFFFFF;
    --foreground-color: #F9F9F9;
}
/* */

/* * /
:root {
    --text-color: #FFFFFF;
    --background-color: #262b39;
    --foreground-color: #212531;
}
/**/


* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    background: var(--background-color);
    color: var(--text-color);
}

body {
    padding: 20px;
    height: 100%;
    background: var(--background-color);
}

img {
    object-fit: cover;
}

#app {
    overflow: auto;
    min-height: 100%;
    padding-bottom: 50px;
    background: var(--background-color);
}

#input {
    font-family: 'Space Mono', monospace;
    width: 69%;
    height: 100%;
    font-size: 33px;
    line-height: 46px;
    outline: none;
    border: none;
    background: #00000000;
    color: var(--text-color);

    display: inline-block;
    vertical-align: top;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    resize: horizontal;
    overflow-y: hidden;
    min-height: calc(100vh - 40px);
}

#errInfo {
    display: inline-block;
    vertical-align: top;
    font-family: 'Space Mono', monospace;
    font-size: 33px;
    line-height: 46px;
    width: 1%;
}

#errInfo span {
    background: #FFF0;
    border-radius: 10px;
    width: 3px;
    display: block;
    overflow: hidden;
}

#errInfo span.error {
    background: #e04b4b42;
}

#preview {
    font-family: 'Space Mono', monospace;

    display: inline-block;
    font-size: 33px;
    text-align: left;
    vertical-align: top;
    line-height: 46px;
    width: 29%;
    padding-left: 20px;
    border-left: 2px #00000011 solid;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#preview i {
    color: #00000011;
}

#menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: var(--foreground-color);
    height: 30px;
    width: 100%;
    padding: 0px 10px;
}

#menu #profile {
    display: inline-block;
    padding: 0px 5px;
    cursor: pointer;
    height: 100%;
}

#menu #profile:hover {
    background: #00000011;
}

#menu #profile img {
    height: 25px;
    width: 25px;
    margin-top: 2.5px;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
}

#menu #profile span {
    vertical-align: middle;
    font-weight: 500;
    color: var(--text-color);
    display: inline-block;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 17px;
}


#menu #profile.disabled img {
    display: none;
}


#menu #right {
    float: right;
}

#menu #right span {
    vertical-align: middle;
    font-weight: 500;
    color: var(--text-color);
    display: inline-block;
    margin-top: 4.3px;
    font-size: 18px;
    margin-left: 10px;

}

#sidenav {
    background: rgba(94, 94, 94, 0.07);
    backdrop-filter: blur(18px);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

#sidenav-contents {
    /*background: var(--foreground-color);*/
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px 10px #00000011;
    padding: 40px;
}

#sidenav-options {
    /*border-top: #00000011 2px solid;
    padding-top: 15px;*/
}

.darkmode-button {
    width:  30px;
    height: 30px;
    cursor: pointer;
    float: right;
}

#sidenav-contents #sidenav-top {
}

#sidenav-contents #sidenav-top img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border: #434343 4px solid;
    border-radius: 50%;
}

#sidenav-contents #sidenav-top span {
    font-size: 44px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 40px;
    display: block;
    color: var(--text-color);
    font-family: "DM Sans";
}

#sidenav-contents #calc-list {
    margin-top: 20px;
    height: calc(100% - 123px);
    overflow-y: auto;
}

#sidenav-contents #calc-list .entry {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    width: 330px;
    height: 160px;
    margin-right: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    background: #FFF;
    border-radius: 20px;
    background: var(--background-color);
    position: relative;
    vertical-align: middle;
}


#sidenav-contents #calc-list .entry:hover {
    background: var(--foreground-color);
}

#sidenav-contents #calc-list .entry h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}

.create-calc, #close-button {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
}
.create-calc:hover, #close-button:hover {
    background: #00000011;
}
.create-calc svg, #close-button svg {
    display: block;
    height: 54px;
    width:  54px;
}

#sidenav-contents #calc-list .entry pre {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    overflow: hidden;
    height: calc(100% - 26px);
    opacity: 0.8;
    font-family: "Space Mono", monospace;
}

#sidenav-contents #calc-list .entry .date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 17px;
    color: #aaaaaa;
}

#sidenav-contents #calc-list .entry.create-new {
    margin-top: 20px;
}

@media screen and (max-width: 1524px) {
    #sidenav-contents #calc-list .entry {
        width: 280px;
        height: 150px;
    }
    .create-calc svg, #close-button svg {
        height: 44px;
        width:  44px;
    }

    #sidenav-contents #calc-list .entry h1 {
        font-size: 21px;
    }

    #sidenav-contents #calc-list .entry pre {
        font-size: 19px;
    }

}

@media screen and (max-width: 824px) {
    #sidenav-contents #calc-list .entry {
        width: 260px;
        height: 140px;
    }
}

#close-button {
    float: right;
    transform: rotate(45deg);
    padding: 13px;
}
#close-button svg {
    width: 35px;
    height: 35px;
}

#current-file {
    height: 100%;
    cursor: pointer;
}

#current-file:hover {
    background: #00000011;
}

#current-calc {
    position: fixed;
    bottom: 50px;
    background: var(--foreground-color);
    box-shadow: 0px 0px 10px 10px #00000011;
    padding: 10px;
    right: 30px;
    border-radius: 10px;
}

.input {
    padding: 6px;
    font-size: 18px;
    border: #00000022 2px solid;
    border-radius: 6px;
    font-family: "Space Mono";
    vertical-align: middle;
    outline: none;
    background: #00000000;
    color: var(--text-color);
    display: inline-block;
    width: 100%;
}

#current-calc input {
    width: 250px;
}

#current-calc svg {
    width: 32px;
    vertical-align: middle;
    height: 42px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

#current-calc a {
    display: inline-block;
    padding: 6px 16px;
    margin-top: 10px;
    color: #FFF;
    background: #f73c8d;
    font-family: "Space Mono";
    float: right;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px #00000044;
}

#formulas {
    cursor: pointer;
}

#formulas-list {
    position: fixed;
    width: 310px;
    height: 450px;
    bottom: 40px;
    right: 20px;
    background: var(--foreground-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px #00000044;
    overflow-x: auto;
}

#formulas-list h1 {
    font-size: 26px;
    font-family: 'Space Mono', monospace;
}

#formulas-list .entry {
    padding: 10px;
    border: #00000044 solid 2.5px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

#formulas-list .entry h1 {
    font-family: 'Space Mono', monospace;
    font-size: 23px;
    overflow: hidden;
    overflow-wrap: anywhere;
}
#formulas-list .entry pre {
    font-family: 'Space Mono', monospace;
    font-size: 19px;
}

#close-formulas-menu {
    width: 32px;
    vertical-align: middle;
    height: 42px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    float: right;

}
